<!DOCTYPE html>
<html>
<head>
  <title>Fokem appointment systerm</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fokem_appointment_systerm/application", media: "all" %>
  <%= javascript_include_tag "fokem_appointment_systerm/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
